*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   width: 100%;
min-height:100vh ;
background:linear-gradient(135deg, #536a99,#4b1d57);   
padding: 10px;
}
.todo-app{

width: 100%;
max-width: 540px;
background:none;
margin: 100px auto 20px;
padding: 40px 40px 70px;
border-radius: 10px;
border:1px solid #a87fb2;
}
.todo-app h2{
color: white;
display: flex;
justify-content: center;
align-items: center;
margin-bottom:20px ;
font-size: 35px;


}
.row{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  border-radius: 40px;
  border:1px solid #a87fb2;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding: 16px;
    color: #e9d5d5ac;
    font-size: 20px;
 


}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(71, 16, 123);
    color: #fff;
    font-size: 20px;
    cursor:pointer;
    border-radius: 40px;
}
ul li{

  font-size: 20px;
  padding: 10px 16px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border: 1px solid #a87fb2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;

  flex-wrap: nowrap; 
  gap: 10px;
}
.delete-btn{

  background:none ;
  border: none; 
  font-size: 18px; 
  cursor: pointer;
  flex-shrink: 0;
}
/* Mobile */
@media (max-width: 480px) {

  .todo-app {
    margin: 40px auto 20px;
    padding: 20px 15px 40px;
  }

  .todo-app h2 {
    font-size: 24px;
  }

  .row {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  input {
    width: 100%;
    font-size: 16px;
    padding: 12px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  ul li {
    font-size: 16px;
    padding: 10px 14px;
    margin: 10px 0;
    
  }

  .delete-btn {
    font-size: 16px;
    position: absolute;
    margin-left: 100px;
    flex-shrink: 0;
}
}
/*  Tablette */
@media (max-width: 768px) {

  .todo-app {
    padding: 30px 25px 50px;
  }

  .todo-app h2 {
    font-size: 28px;
  }

  input {
    font-size: 18px;
  }

  button {
    font-size: 18px;
    padding: 14px 40px;
  }
}








 










